<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title text-center">Connexion SIIL</h2>
          <form (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="username" class="form-label"
                >Nom d'utilisateur :</label
              >
              <input
                type="text"
                id="username"
                [(ngModel)]="username"
                name="username"
                class="form-control"
                placeholder="Entrez votre nom d'utilisateur"
                required
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Mot de passe :</label>
              <input
                type="password"
                id="password"
                [(ngModel)]="password"
                name="password"
                class="form-control"
                placeholder="Entrez votre mot de passe"
                required
              />
            </div>
            <button type="submit" class="btn btn-success w-100">
              Se connecter
            </button>
          </form>
          <p *ngIf="errorMessage" class="text-danger mt-3">
            {{ errorMessage }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
