<div class="container mt-5">
  <h2>Inscription</h2>
  <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <div class="mb-3">
      <label for="nom" class="form-label">Nom</label>
      <input
        type="text"
        class="form-control"
        id="nom"
        required
        [(ngModel)]="user.nom"
        name="nom"
      />
    </div>

    <div class="mb-3">
      <label for="prenom" class="form-label">Prénom</label>
      <input
        type="text"
        class="form-control"
        id="prenom"
        required
        [(ngModel)]="user.prenom"
        name="prenom"
      />
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        required
        [(ngModel)]="user.email"
        name="email"
      />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Mot de passe</label>
      <input
        type="password"
        class="form-control"
        id="password"
        required
        [(ngModel)]="user.password"
        name="password"
      />
    </div>

    <div class="mb-3">
      <label for="confirmPassword" class="form-label"
        >Confirmez le mot de passe</label
      >
      <input
        type="password"
        class="form-control"
        id="confirmPassword"
        required
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
      />
    </div>

    <div class="mb-3">
      <label for="role" class="form-label">Rôle</label>
      <select
        class="form-select"
        id="role"
        required
        [(ngModel)]="user.role"
        name="role"
      >
        <option value="" disabled selected>Choisissez un rôle</option>
        <option value="Admin">Admin</option>
        <option value="Manager">Manager</option>
        <option value="Livreur">Livreur</option>
        <option value="Utilisateur">Utilisateur</option>
      </select>
    </div>

    <button
      type="submit"
      class="btn btn-success"
      [disabled]="!registerForm.valid || user.password !== confirmPassword"
    >
      S'inscrire
    </button>
  </form>
</div>
