<div class="container">
  <h2>Modification de l'Utilisateur</h2>
  <form (ngSubmit)="onSubmit()" *ngIf="isLoaded">
    <div class="field">
      <label for="nom">Nom</label>
      <input type="text" id="nom" [(ngModel)]="user.nom" name="nom" />
    </div>
    <div class="field">
      <label for="prenom">Prénom</label>
      <input
        type="text"
        id="prenom"
        required
        [(ngModel)]="user.prenom"
        name="prenom"
      />
    </div>
    <div class="field">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        required
        [(ngModel)]="user.email"
        name="email"
      />
    </div>
    <div class="field">
      <label for="role">Rôle</label>
      <select id="role" required [(ngModel)]="user.role" name="role">
        <option value="" disabled>Choisissez un rôle</option>
        <option value="Admin">Admin</option>
        <option value="Manager">Manager</option>
        <option value="Livreur">Livreur</option>
        <option value="Utilisateur">Utilisateur</option>
      </select>
    </div>
    <div class="field">
      <label for="password"
        >Nouveau mot de passe (laissez vide si inchangé)</label
      >
      <input
        type="password"
        id="password"
        [(ngModel)]="user.password"
        name="password"
      />
    </div>
    <div class="field">
      <label for="confirmPassword">Confirmez le nouveau mot de passe</label>
      <input
        type="password"
        id="confirmPassword"
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
      />
    </div>
    <button type="submit" class="button update-button">Sauvegarder</button>
    <button type="button" class="button delete-button" (click)="onDelete()">
      Supprimer
    </button>
  </form>
</div>
