<div class="container">
  <h2>Gestion des Utilisateurs</h2>
  <div class="table-container">
    <div class="table-header">
      <div class="header__item">Nom</div>
      <div class="header__item">Prénom</div>
      <div class="header__item">Email</div>
      <div class="header__item">Actions</div>
    </div>
    <div class="table-row" *ngFor="let user of users">
      <div class="table-data">{{ user.nom }}</div>
      <div class="table-data">{{ user.prenom }}</div>
      <div class="table-data">{{ user.email }}</div>
      <div class="table-data">
        <button class="edit-button" (click)="onEdit(user)">
          <i class="fas fa-edit"></i>
        </button>
        <button class="delete-button" (click)="onDelete(user)">
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
    </div>
  </div>
</div>
